[user]
	name = TAKANO Sho / @masaru_b_cl
	email = masaru.b.cl@gmail.com
[core]
	editor = gvim
	quotepath = false
	excludesfile = ~/.gitignore_global
	autocrlf = false
[alias]
	br = branch
	brd = branch -d
	ci = commit
	co = checkout
	slog = shortlog
	st = status
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%cn] %Cgreen%d%Creset %s\" --all --date=short
	difft = difftool -Y
	difftd = difftool --dir-diff -Y
	merget = mergetool -y
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
	branch-root = merge-base master HEAD
[color]
	ui = auto
	status = always
	diff = always
[push]
	default = simple
[merge]
	tool = WinMerge
[mergetool]
	keepBackup = false
[mergetool "WinMerge"]
	cmd = /c/Program\\ Files/WinMerge/WinMergeU.exe -r -e -u -wl -wr \"$LOCAL\" \"$BASE\" \"$REMOTE\" -o \"$MERGED\"
[diff]
	tool = WinMerge
	guitool = WinMerge
[difftool "WinMerge"]
	cmd = /c/Program\\ Files/WinMerge/WinMergeU.exe -r -e -ub -dl \"Base\" -dr \"Mine\" \"$LOCAL\" \"$REMOTE\"
[credential]
	helper = wincred
[gui]
	encoding = utf-8
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
