[user]
	name = TAKANO Sho / @masaru_b_cl
	email = masaru.b.cl@gmail.com
[core]
	quotepath = false
	excludesfile = ~/.gitignore_global
	autocrlf = false
[alias]
	ci = commit
	co = checkout
	br = branch
	brd = branch -d
	slog = shortlog
	st = status
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%cn] %Cgreen%d%Creset %s\" --all --date=short
	difft = difftool -Y
	difftd = difftool --dir-diff -Y
	merget = mergetool -y
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
[color]
	ui = auto
	status = always
	diff = always
